#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 500px) {
    #buttons {
        max-width: 25em;
    }
    body {
        font-size: 1.4em;
    }

    button {
        font-size: 1em;
    }

    #license {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 1.4em;
    }

    button {
        font-size: 1.4em;
    }

    #license {
        font-size: 0.8em;
    }
}
